*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
Zillow/bin/Debug/netcoreapp2.1/Zillow.dll
Zillow/bin/Debug/netcoreapp2.1/Zillow.pdb
Zillow/obj/Zillow.fsproj.nuget.cache
Zillow/obj/Zillow.fsproj.nuget.g.props
Zillow/obj/fsac.cache
Zillow/obj/Debug/netcoreapp2.1/Zillow.dll
Zillow/obj/Debug/netcoreapp2.1/Zillow.pdb
Zillow/obj/Debug/netcoreapp2.1/Zillow.assets.cache
.vscode/launch.json
